:root {
  --primary: #b59354;
  --bg: #000;
}



* {
  text-decoration: none;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: aliceblue;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 7%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg);
  align-items: center;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  z-index: 9999;
}

.navbar .logo {
  color: aliceblue;
  font-size: 2rem;
  font-style: italic;
  height: 700;
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navigate a {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  display: inline-block;
}

.navbar .navigate a:hover {
  color: var(--primary);
}

.navbar .navigate a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scale(0);
  transition: 1s;
}

.navbar .navigate a:hover::after {
  transform: scale(1);
}

.icon {
  stroke: aliceblue;
  cursor: pointer;
}

.icon:hover {
  stroke: var(--primary);
}

#menu {
  display: none;
}

.detail {
  display: none;
}


/* main */
.hero {
  background-image: url(header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.hero::after {
  display: block;
  content: "";
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .hero-content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .hero-content h1 {
  color: azure;
  font-size: 5em;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .hero-content h1 span {
  color: var(--primary);
}

.hero .hero-content p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .hero-content a {
  padding: 1rem 3rem;
  background-color: var(--primary);
  counter-reset: azure;
  line-height: 5;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-shadow: 0.5px 1px 3px var(--bg);
}

.hero .hero-content a:hover {
  background-color: #7c5000;
}

/* about us */

.about, .menus, .contact{
  padding: 8rem 7% 1.4rem
} 

.about{
  display: block;
}

.about h2{
  color: azure;
  font-size: 3em;
  padding: 1.3rem 7%;
  text-align: center;
}

.about h2 span{
  color: var(--primary);
}

.about .about-content{
  display: flex;
}

.about .about-content img{
  width: 50%;
  border-radius: 0.5rem;
  object-position: center;
  
}

.text{
  padding: 2rem;
}

.about .about-content .text h3{
  font-size: 1.6rem;
  display: block;
  
}

.about .about-content .text p{
  margin-bottom: 2rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* menu */
.menus{
  display: block;
}

.menus h2{
  color: azure;
  font-size: 3em;
  padding: 1.2rem 7%;
  text-align: center;
  line-height: 1;
}

.menus h2 span{
  color: var(--primary);
}

.menus p{
  color: azure;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.5rem 7%;
  text-align: center;
  max-width: 40rem;
  line-height: 1.2rem;
  margin: auto;

}

.menus .menus-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.menus .menus-content .menu-card{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3;
  margin-top: 5rem;
}

.menus .menus-content .menu-card img{
  width: 80%;
  border-radius: 50%;
}

/* contact */
.contact{
  display: block;
}

.contact h2{
  color: azure;
  font-size: 3em;
  padding: 1.2rem 7%;
  text-align: center;
  line-height: 1;
}

.contact h2 span{
  color: var(--primary);
}

.contact p{
  color: azure;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.5rem 7%;
  text-align: center;
  max-width: 40rem;
  line-height: 1rem;
  margin: auto;
}

.contact .contact-content .form{
  display: block;
}
.contact .contact-content{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.contact .contact-content iframe{
  width: 50%;
}


form{
  display: block;
  background-color: #2d2d2d;
  padding: 3rem;
}

form .form-input{
  margin: 2rem;
  background-color: var(--bg);
  padding: 2rem;
  display: flex;
  align-items: center;
}

form .form-input .contact-icon{
  margin-right: 1rem;
}


form .form-input input{
  background-color: var(--bg);
  font-size: 1.3rem;
  color: azure;
  width: 100%;
}

form .btn{
  color: azure;
  margin-top: 3rem;
  padding: 1rem 3rem;
  background-color: var(--primary);
  font-size: 1.1rem;
  display: flex;
  margin: auto;
}

/* Footer */

.footer .footer-content{
  padding: 2rem;
}
.footer{
  display: block;
  text-align: center;
  background-color: var(--primary);
  justify-content: center;
  font-family: sans-serif;
}

.footer .icon{
  margin: 1.2rem;
}

.footer .icon .footer-icon{
  margin: 0 1.2rem 0 1.2rem;
}

.footer .icon .footer-icon:hover{
  stroke: black;
}

.footer .nav-footer{
  margin: 1.2rem;
}

.footer .nav-footer a{
  margin: 0 1.5rem 0 1.5rem;
}

.footer .nav-footer a:hover{
  color: #000;
}

.footer .copyright{
  margin: 1.2rem;
}

.footer .copyright a{
  color: rgb(0, 0, 61);
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}

/* Tablet */
@media (max-width: 850px) {
  html {
    font-size: 62.5%;
  }

  .detail {
    display: inline-block;
  }

  .sumry {
    color: transparent;
  }

  .navigat {
    top: 100%;
    position: absolute;
    width: 30rem;
    height: 100vh;
    background-color: white;
    right: 0;
  }

  #menu {
    display: inline-block;
  }

  .navigat a {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1.3rem;
    color: black;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navigat a::after{
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scale(0);
    
  }

  .navigat a:hover::after{
    transform: scale(1);
  }

  .navbar .navigate {
    display: none;
  }

  .navigat a:hover {
    color: var(--primary);
  }
  /* about us */

  .about .about-content{
    display: block;
  }

  .about .about-content img{
    justify-content: center;
    width: 100%;
  }
  
  /* contact */
  .contact .contact-content{
    display: block;
    justify-content: center;
  }

  .contact .contact-content iframe{
    width: 100%;
  }
}

/* smart phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
